/*  Tregenza-One - CSS for specific layouts & page templates (splash pages etc) */

/*** Generic content layout ***/




/*** Sizing & Flex behavior for alternative page templates ***/

		/*Splash Page */
	.page-template-template-splash #hamburger {
			display: block;  /* Splash page = no menu so need hamburger */
		}

	.page-template-template-splash #wrapper > #container {
		display: block;	
	}

	.page-template-template-splash #wrapper > #container > #content {
			width: 100%;
			max-width: 100%;
			margin: 0 0;
		}
	.page-template-template-splash #wrapper > #container > #content > article {
			margin: 0 auto;
			width: 100%;
		}
	.page-template-template-splash #wrapper > #container > #content > article > section {
			padding: 0;
		}

		/* Half-Splash Page (No RH sidebar)*/
	.page-template-template-half-splash #wrapper > #container {
			justify-content: flex-start;
	}

	.page-template-template-half-splash #wrapper > #container > #content {
			width: 100%;
			max-width: 100%;
		}
	.page-template-template-half-splash #wrapper > #container > #content > article {
			margin: 0 auto;
		}
	.page-template-template-splash #wrapper > #container > #content > article > section{
			padding: 0;
		}




/*  ---- Splash Template ---- */
/* 		
			Use .splash_block inside post content to break-up full width background areas 

			Use .read_block in posts to keep chunks of text to a reasonable width. 

			Use .micro_blocks to small chunks of text / images / buttons */

*/



body.page-template-template-splash {
}

body.page-template-template-splash #content {
}


body.page-template-template-splash article {
}


body.page-template-template-splash article .splash_block {
	width: 100%;
	min-height: 5rem;
	padding: 0.5rem;

			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: stretch;
			align-items: stretch;


	
}

body.page-template-template-splash article .splash_block {

	/* Placeholder image only - Not needed for production site */
	background-size: 50px;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: left top;	

	background-image: url("../images/PlaceholderImage.png");
/* END PLaceholder Image only */
}



