/****   Form Styling ****/

	/* form basics */
	form {	
		padding: 0;
		margin: 0;
	}

	form br {
		display: none;		/* WORDPRESS sticks in needless br tags */
	}
	
	/* form flex */
	form {	
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: stretch;
		align-content: center;	

		background: #ffffff;
		padding: 1rem;
	}
	
	/* Form Chunks - most forms are "chunked" with paragraph or divs. Add flex to each chunk */
	form > * {
		flex: 1 1 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: baseline;
		align-content: center;
		margin-bottom: 0.25rem;
	}
	
	/* Label & Field basic formatting */
	form label {
		display: block;
		flex: 1 1 auto;
		width: auto;
		min-width: 8rem;
		max-width: 16rem;
	}
	form input, form input[type="text"],  form input[type="button"], form input[type="submit"] {
			display: block;
			flex: 2 2 auto;
			width: auto ;
			min-width: 8rem;
			max-width: 16rem;
		}

		form input[type="submit"] {
			flex: 0 0 100%;
			margin: 0.5rem auto;
		}

		form textarea {
			flex: 2 2 auto;
			width: auto ;
			min-width: 16rem;
			max-width: 16rem;
		}

		form .required {
			font-weight: 300;
			color: #ff0000;
		}

/* ---- Form Specific Formating ---- */

	/*--- Post Comments Respond Form --- */
	.tregenza_one_block_comments .comment-respond {
		margin: 0 auto;
		padding-bottom: 1rem;
	}

	.tregenza_one_block_comments .comment-respond > :first-child {
		padding: 1rem;
		background: #ffffff;
		margin-bottom: 1rem;
	}

	/* Respond form chunks - sizing & order */
	.tregenza_one_block_comments	form .comment-notes {
		order: 0;
	}
	.tregenza_one_block_comments	form .comment-form-comment {
		order: 4;
	}
	.tregenza_one_block_comments	form .comment-form-author {
		order: 1;
	}
	.tregenza_one_block_comments	form .comment-form-email {
		order: 2;
	}
	.tregenza_one_block_comments	form .comment-form-url {
		order: 3;
	}
	.tregenza_one_block_comments	form .form-submit {
		order: 99;
	}

	/* Respond form chunks - styling */
	.tregenza_one_block_comments	form label {
	}
	.tregenza_one_block_comments	form input:not([type='submit']) {
/*			flex: 2 2 auto;
			max-width: 100%;*/
	}
	.tregenza_one_block_comments	form textarea {
/*			flex: 2 2 auto;
			max-width: 100%; */
	}
	.tregenza_one_block_comments .comment-respond p.comment-notes {
		font-weight: 300;
		line-height: 120%;
		font-size: 1rem;
		margin-bottom: 0.5rem;		
	}


/*****REVISIT &INTEGRATE WOOCOMMERCE  *****/




	/* 	woocommerce forms are erratic in their use of divs etc as child of forms. Set all direct child of forms to be flex */
	form > * {
			flex: 1 1 auto;
		}
		div.woocommerce form > h1, div.woocommerce form > h2, div.woocommerce form > h3, div.woocommerce form > h4, div.woocommerce form > h5, div.woocommerce form > h6 {  
				float: none !important;
				margin: 0.5rem 0rem 0rem 0rem;
		}	

	/* Hide any crap floating around from WC  */
		.woocommerce form > *:empty {
			display: none;
		}

	/* woocommerce Columns are containers for fields etc */	
		div.woocommerce form > .col2-set {
			flex: 1 1 auto;
	
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: stretch;
			align-content: stretch;	
	
			margin: 0;
			padding: 0;
		}
		div.woocommerce form > .col2-set:before, div.woocommerce form > .col2-set:after {
			display: none;
		}
		div.woocommerce form > .col-1, div.woocommerce form > .col-2,  {
	
			margin: 1rem 0rem 0rem 0rem;
		}


	/* Woocommerce forms inconsistent about using fieldsets - make everything a flex container and flex item */
		div.woocommerce form > fieldset, div.woocommerce form > fieldset > p, div.woocommerce form > p,  div.woocommerce form > p > *, div.woocommerce form p.form-row {
			flex: 1 auto;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;
			align-content: center;	
		}
		div.woocommerce form > fieldset > p, div.woocommerce form > p {
		}
		div.woocommerce form label {
			flex: 1 auto;
			width: auto ;  /** Override WC styling **/
			min-width: 8rem;
			max-width: 16rem;
		}
	
		
		div.woocommerce form input.input-text, div.woocommerce form input[type="text"],  div.woocommerce form input[type="button"], div.woocommerce form input[type="submit"] {
			flex: 2 auto;
			width: auto ;
			min-width: 8rem;
			max-width: 16rem;
		}
		div.woocommerce form textarea {
			flex: 2 auto;
			width: auto ;
			min-width: 16rem;
			max-width: 16rem;
		}
		
		div.woocommerce form p.form-row, div.woocommerce form pdiv.woocommerce-form-row {
			float: none;
			width: auto;
		}
		
		div.woocommerce form fieldset {
			border-bottom: 1px solid #333333;	/*** XXXX COLOURS XXXX ***/
			padding: 0.25rem 0 0.25rem 0;
			margin: 0.5rem auto 0.5rem auto;
		}
		div.woocommerce form fieldset legend {
			font-weight: 700;
			font-size: 1.2rem;
			padding: 0.2rem;
		}

		div.woocommerce form input.button {
			margin: 0 auto;
		}

		div.woocommerce form table tr  td:before {
			float: none !important;
		}

	/** Login / Registration **/
		div.woocommerce form label[for="password_1"], div.woocommerce form label[for="password_2"], div.woocommerce form label[for="password_current"] {
			width: auto !important;
		}
		
		div.woocommerce #customer_login form input#rememberme {
			flex: 0 0 1rem;
			min-width: 1rem;
			max-width: 1rem;
		}



