/*  Tregenza-One area specific formatting */


/* ---- Structure ---*/
	/* Structural elements across all page types - post, pages, shops, archives etc */
	#content #pageHeader {
	}

	#content #pageHeader+* {
		margin-top: 2.5rem;
	}

	#content {
		padding-bottom: 1rem;
	}



/* Structural elements on default index / archive content pages */

	body.blog  article.post + article.post {
	}

	body.blog .postSeparator {
/*		height: .5rem; */
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		border-radius: 0.25rem;
	}

/* ----  Content Blocks ---- */
	/* Generic post/entry block flex & sizing */


	/* Post blocks order & size */ 
	.tregenza_one_block_thumbnail {
		order: 1;
		flex: 0 0 auto;
	}

	.tregenza_one_block_title {
		order: 2;
		flex: 0 0 auto;
	}

	.tregenza_one_block_content {
		order: 3;
		flex: 0 0 auto;
	}

	.tregenza_one_block_entrylinks {
		order: 4;
	}

	.tregenza_one_block_entrydate {
		order: 0;
		flex: 0 0 auto;
	}

	.tregenza_one_block_entryauthor {
		order: 9; 
		flex: 0 0 auto;
	}

	.tregenza_one_block_entrycategory {
		order:6;
	}

	.tregenza_one_block_entrytags {
		order: 7;
	}

	.tregenza_one_block_comments {
		order: 19;
	}
	/*Combined Tags / category position / size so they look / behave the same */
	.tregenza_one_block_entrycategory, 	.tregenza_one_block_entrytags {
		flex: 0 0 auto;
		min-width: 0;
	}


	/* Post blocks styling */ 
	article.tregenza_one_block > .tregenza_one_block {
		margin-bottom: 0.5rem;
	}
	.tregenza_one_block_title {			
	}
	.tregenza_one_block_title > * {	
			width: 100%;
	}		
	.tregenza_one_block_thumbnail  {
		align-self: center;
	}
	.tregenza_one_block_thumbnail img {
			display: block;
			margin: 0 auto;
 }
	.tregenza_one_block_thumbnail img.wideThumbnail {
			max-height: 10rem;			/*Default for small screens. See @media */
			height: auto;
			width: auto;
	}
	.tregenza_one_block_thumbnail img.squareThumbnail {
			max-width: 20rem;
			max-height: 20rem;
			height: auto;
			width: auto;

	}
	.tregenza_one_block_thumbnail img.tallThumbnail {
			max-height: 20rem;
			height: 100%;
			width: auto;	
	}

	.tregenza_one_block_entrydate {
		font-style: italic;
		font-size: 0.75rem;
		color: #777777;
		line-height: 1.25rem;		
	}

	.tregenza_one_block_entryauthor {
		font-style: italic;
		font-size: 0.75rem;
		color: #777777;
		line-height: 1.25rem;		

		padding-top: 0.25rem;
		margin-top: 1rem;
		border-top: 1px solid #aaaaaa;
		line-height: 1rem;
 }
	.tregenza_one_block_entryauthor .authorPreface {
		display: block;
		margin: 0rem 0.25rem 0 auto;
		line-height: 1rem;
		padding-top: 0.25rem;
	}
	.tregenza_one_block_entryauthor a {
		border: none;
		text-decoration: none;
	}

	/*Combined Tags / category styling so they look / behave the same */
 .tregenza_one_block_entrytags , .tregenza_one_block_entrycategory {
		line-height: 1rem;
	}

	/* Category only styling */
	.tregenza_one_block_entrycategory {
	}
	.tregenza_one_block_entrycategory  ul.post-categories  {
		list-style-type: none;
		margin: 0;
		padding: 0;		
		line-height: 1rem;
	}
	.tregenza_one_block_entrycategory  ul.post-categories  li {
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-size: 0.75rem;
		display: inline-block;
	}

	/* Tag only styling */
	.tregenza_one_block_entrytags {
	}


	.tregenza_one_block_entrydate  {
			padding-bottom: 0.25rem;
			margin: 1rem 0 1rem 0;
			border-bottom: 1px solid #3377aa;
		}

	.tregenza_one_block_content {
	}

	.tregenza_one_block.tregenza_one_block_content {
	}


	/* ---- Post Comment Blocks ---- */
	.tregenza_one_block_comments {
	}
	.tregenza_one_block_comments > section > * {
		padding-bottom: 0.25rem;
		border-bottom: 1px solid #aaaaaa;
	}


	.tregenza_one_block_comments ul {
			margin: 0;
			padding: 0;
	}
	.tregenza_one_block_comments ul li {
			background: rgba(200, 200, 200, 0.5);
			padding: 1rem 1rem 1rem 1rem;
			border-radius: 0.5rem;
		}
	.tregenza_one_block_comments ul li.depth-1 {
			margin: 1rem 0 0 0;
	}
	.tregenza_one_block_comments ul li.depth-2 {
			margin: 1rem 0 0 2rem;
	}

	.tregenza_one_block_comments ul li.depth-3 {
			margin: 1rem 0 0 4rem;
	}

	.tregenza_one_block_comments ul li.even {
	}
	.tregenza_one_block_comments ul li.odd {
	}


	.tregenza_one_block_comments .comments-list {
	}

	/* Comments sub blocks size & position */
	.tregenza_one_block_comment_avatar {
		order: 0; 
		flex: 0 0 auto;
	}	

	.tregenza_one_block_comment_datetime {
		order: 2; 
		flex: 0 0 auto;
	}	

	.tregenza_one_block_comment_author {
		order: 1; 
		flex: 0 0 auto;
	}	

	.tregenza_one_block_comment_moderation {
		order: 4; 
	}	

	.tregenza_one_block_comment_text {
		order: 5; 
		flex: 1 2 auto;

	}	

	.tregenza_one_block_comment_reply {
		order: 6; 
		flex: 0 0 auto;
	}	

	.tregenza_one_block_comments li.tregenza_one_block_comment > ul.children {
			/* sub comment */
			order: 99;
			flex: 0 0 auto;

	}

	/* Comments sub blocks styling */
	.tregenza_one_block_comments .toMinorButton {
	}


	.tregenza_one_block_comment_avatar {
		text-align: center;
	}	

	.tregenza_one_block_comment_datetime {
		text-align: center;
	}	
	.tregenza_one_block_comment_datetime .comment-date {
		text-align: center;
		display: inline-block;	
		margin-right: 1rem;
	}
	.tregenza_one_block_comment_datetime .comment-time {
		text-align: center;
		display: inline-block;	
	}

	.tregenza_one_block_comment_author {
		text-align: center;
	}	

	.tregenza_one_block_comment_moderation {
	}	

	.tregenza_one_block_comment_text {
		padding: 0 0.25rem 0 0.25rem;
	}	
	.tregenza_one_block_comment_text p {
			font-size: 1rem;
			line-height: 120%;
			margin-top: 1rem
	}
	.tregenza_one_block_comment_text p br {
			line-height: 2rem;
	}
/*
	.tregenza_one_block_comment_text p:first-child:first-line {
			font-weight: bold;
		}
*/
	.tregenza_one_block_comment_reply {
		margin-top: 0.5rem;
		padding-bottom: 1rem;
	}	
	.tregenza_one_block_comment_reply .button {
		margin: 0 0 0 auto;
	}


	
	/* Comments respond form */
	.tregenza_one_block_comments .comment-respond {
			/*  See Style-Form.css */
	}

	.tregenza_one_block_comments .comment-respond > form.comment-form > script {
			/****
			*								HACK!!!!
			*								Weird problmen where for superadmin user, the nonce script output by
			*								comment-template/wp_comment_form_unfiltered_html_nonce() would display.
			*							 The script tags being ignore and the javascript being handled as text.
			*								Cannot find why this is happening. Script only applies to superadmin so
			*								not important. Solution is to treat the tag as text and don't display it.
			*								Yes, it's a shit solution but I've already wasted hours on this.
			****/
			display: none;
	}
	

/* ----- Post Content TEXT FORMATING ---- */

	article 	.tregenza_one_block_content p {
		font-size: 1rem;
		line-height: 120%;
		margin-top: 0.5rem;
	}
	article 	.tregenza_one_block_content > p:first-of-type {
		font-size: 1.2rem;
		line-height: 120%;
		letter-spacing: 0.1rem;
		font-weight: 300;
	}

	
		article 	.tregenza_one_block_content  ul, 	article 	.tregenza_one_block_content  ol {
	}
		article 	.tregenza_one_block_content  ul li {
		list-style-type: circle;
	}
		article 	.tregenza_one_block_content  ul ul li {
		list-style-type: disc;
	}
		article 	.tregenza_one_block_content   ol li {
		list-style-type: decimal;
	}
		article 	.tregenza_one_block_content  ol ol li {
		list-style-type: lower-alpha;
	}

		article 	.tregenza_one_block_content  a {
		padding: 0;
	}



/* ----- Content ---- TABLE FORMATING ---- */

	/** See tregenzaOne.js - cleanTables function. Strips tbody and thead elements, and adds attributes **/

	/** Table set-up defaults to  small screen column based arrangment and uses media queries to switch to more traditional row based layout */

	/** Flex settings only - styling handled later **/

/* Treat tables as flex boxes */
	article table {
		display: flex;
	 	flex-flow: column nowrap; 	
		justify-content: center;
		align-items: stretch;
		align-content: stretch;
	}


	article table tr {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: stretch;
		align-content: stretch;
	}

	article table tr.theadChild {
		display: none;
	}

	/* Table styling */

	article table tr + tr {
		margin-top: 0.25rem;
		border-top: 1px solid #777777;
		padding-top: 0.25rem;
	}

	article table tr td:before {
		content: attr(data-colname);
	}


	article table tr td:before {
		display: inline-block;
		width: 5rem;
		font-weight: 700;
	}

	article table :not(thead) tr {
	}

	


	article table tr:not(:first-child) {
	}

	article table tr td, article table tr th {
		display:  block;
		flex: 1 1 auto;
		min-width: 5rem;
		padding: 0rem 0.25rem 0rem 0.25rem;
		margin: 0rem;
		line-height: 125%;
		vertical-align: middle;
		word-break: break-all;
		font-size: 0.8rem;
		font-weight: 300;
		border: none;


/*		flex-flow: row wrap;
		align-items: center;
*/


	}



	article table  {
		margin-top: 0.5rem;
		padding: 0.5rem;
		border: none;
	}

	article table tr td:not(:last-child) {
	}

	article table tr th {
		text-align: center;
		font-weight: 700;
		line-height: 150%;
		font-size: 1.2rem;	
	}

	
	article table tr td:first-of-type, article table tr th:first-of-type {
	}
	
	article table tr td:nth-of-type(odd), article table tr th:nth-of-type(odd) {
	}
	article table tr td:nth-of-type(even), article table tr th:nth-of-type(even) {
	}
	article table tr td:empty, article table tr th:empty {
	}
	article table tr img {
		display: block;
	}

	article table tr.tbodyChild + tr.tfootChild {
		margin-top: 0.5rem;
		border-top: 1px solid #777777; /* XXXX COLOUR XXXX */
	}

/* ----- Content ---- BLOG ---- */

body.blog  article.post {
}

body.blog  article.post > * {
}


/* ----- Content ---- Search Results ---- */

body.search-results {
}
body.search-results form.searchform + header {
	margin-top: 1rem;
}

body.search-results article {
	padding: 0.25rem 1rem 0.25rem 1rem;
	border-radius: 0.5rem;
}
body.search-results article {
	background-color: #dddddd;
}

body.search-results article + article {
}

body.search-results article section.entry-summarybody.search-results article section.entry-summary p {
	font-size: 1rem;
	line-height: 100%;
}

body.search-results section#content hr:last-of-type {
	display: none;
}


	/**
	*		Search Form
	**/
	.searchform {
	
		margin: 1rem auto 0 auto;
		padding: 0 1rem 0 1rem;
	
	}
	
	.searchform div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	
	}
	.searchform div > *{
		margin: 1rem;
		max-width: 18rem;
	}

	/** 
	*		Search Results
	**/
	.searchResults {
	    width: auto;
	    float: none;
	    margin: 0;
	    padding: 0;
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: center;
	    align-items: stretch;
	    align-content: center;
	}

	.searchResults article {
		margin: 0.5rem auto;
		padding: 0;
		flex: 0 0 18rem;
		max-width: 18rem;
		max-height: 18rem;
		overflow: hidden;
	}

	/**
	*		Post Summary (Search results, archives etc)
	**/
	
	section .entry-summary {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	
	section .entry-summary .summary-thumbnail {
		flex: 0 0 auto;
		width: 8rem;
		height: 8rem;
	}
	section .entry-summary .summary-thumbnail:empty {
		display: none;
	}
	section .entry-summary .summary-excerpt {
		flex: 1 1 auto;
	}
	section .entry-summary .summary-excerpt:empty {
		display: none;
	}
	section .entry-summary .summary-excerpt p {
		font-size: 0.8rem;
	}
/* ---- >>>>>    Media Queries <<<<<     ----- */
	/* Default CSS designed for smallest screen width - 320px - and media queries adapt to larger sizes */ 	

	/* One column */
		@media (min-width: 20rem) {
		
		}
	
	/* Allow one full width content block (640px plus an allowance for padding */
		@media (min-width: 44rem) {
			.tregenza_one_block_thumbnail img.wideThumbnail {
					max-height: 20rem;
			}

			article table tr {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: start;
				align-content: space-evenly;
			}
		
			article table tr td:before {
				display: none;
			}
		}
	
	/* Allow one full width content block (640px plus an allowance for padding) plus two 10rem columns (plus some padding) */
		@media (min-width: 64rem) {
			.tregenza_one_block_thumbnail img.wideThumbnail {
					max-height: 30rem;
			}
		}
	
		@media (min-width: 1200px) {
		
		}